/* pixel-war-table.component.scss */

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px; /* Largeur de la div */
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="color"] {
  width: 100px; /* Largeur du champ de couleur */
  height: 30px; /* Hauteur du champ de couleur */
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 10px;
  background-color: #007BFF; /* Couleur du bouton */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Couleur du bouton au survol */
}
